GOOGLE_DRIVE_FOLDER_ID=1j3R1sr9iODqdISm9jAC9R2Lkgpamtwm1
GOOGLE_SERVICE_ACCOUNT_EMAIL=quantum-gallery@liquid-idiom-499819-k0.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_ROTATED_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
PORT=8787
